<div class="todos">
  <div class="search-bar">
    <input
      #searchBox
      type="text"
      placeholder="Search users..."
      class="search-input"
      (input)="onSearch(searchBox.value)"
    />
    <button (click)="loadUsers()">Refresh Users</button>
  </div>

  <ul *ngIf="loaded">
    <li *ngFor="let user of users">
      <p><b>ID:</b> {{ user.id }}</p>
      <p><b>Name:</b> {{ user.name }}</p>
      <p><b>Email:</b> {{ user.email }}</p>
      <p><b>Username:</b> {{ user.username }}</p>
      <p><b>Phone:</b> {{ user.phone }}</p>
    </li>
  </ul>
</div>
